<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="col-lg-6 offset-lg-3 mt-4">
                <div v-if="ready">
                    <div class="alert alert-success text-capitalize" role="alert" v-for="item in info">
                            {{ item.name }} {{ item.type }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-success text-white text-center">
                        <!-- <span class="float-right">{{ connections }} Connections</span> -->
                        Chat App<br>
                        <span class="badge badge-light h4 text-capitalize" v-if="ready">{{ name }}</span>
                    </div>

                    <ul class="list-group list-group-flush h3">
                        <li class="list-group-item" v-for="message in messages" style="border: none !important;font-size: x-large;">
                            <span :class="message.type=='sending' ? 'float-right badge badge-pill badge-info':'float-left badge badge-pill badge-primary'">
                                {{ message.message }}
                                <small class="badge badge-light text-capitalize"> {{ message.by }}</small>
                            </span>
                        </li>
                        <li class="list-group-item" v-if="typing" style="border: none !important;">
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </li>
                    </ul>

                    <div class="card-body" v-if="ready">
                        <form @submit.prevent="send">
                            <div class="form-group">
                                <input class="form-control" type="text" v-model="newMessage" placeholder="Type a message...">
                            </div>
                        </form>
                    </div>

                    <div class="card-body" v-if="!ready">
                        <h4 class="text-secondary">Set Your Name</h4>
                        <form @submit.prevent="addName">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" v-model="name" placeholder="Give your name..." required>
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="submit">Button</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var app = new Vue({
            el: '#app',
            data:{
                newMessage: null,
                messages: [],
                typing: false,
                name: null,
                ready: false,
                info: [],
                connections: 0
            },
            watch:{
                newMessage(value){
                    value ? socket.emit('user-typing') : socket.emit('user-stopTyping')
                }
            },
            methods:{
                send(){
                    this.messages.push({message:this.newMessage, type:'sending', by:'Me'});
                    socket.emit('chat-message', {message:this.newMessage,user:this.name});
                    this.newMessage = null;
                },
                addName(){
                    this.ready = true;
                    socket.emit('joined', this.name);
                }
            },
            created(){
                window.onbeforeunload = () => {
                    socket.emit('leaved', this.name);
                }

                socket.on('connections', (data) => {
                    this.connections = data;
                })

                socket.on('Created', (data) => {
                    console.log(data);
                });

                socket.on('chat-message', (data) => {
                    this.messages.push({message:data.message, type:'receiving', by:data.user});
                });

                socket.on('user-typing', () => {
                    this.typing = true;
                });

                socket.on('user-stopTyping', () => {
                    this.typing = false;
                });

                socket.on('joined', (data) => {
                    this.info.push({name: data, type:'Joined'});
                    setTimeout(() => {
                        this.info = []
                    }, 5000);
                });

                socket.on('leaved', (data) => {
                    this.info.push({name:data, type:' Leaved'});
                    setTimeout(() => {
                        this.info = []
                    }, 5000);
                });
            }
        });
    </script>
</body>
</html>